<div id="create-quiz-view">
    <h2>Create Quiz</h2>
    
    <form id="create-quiz-form">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required />
        <br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
        <br><br>

        <input type="checkbox" id="termsOfService" name="termsOfService" required>
        <label for="termsOfService">I accept the <a href="../Terms_of_Service.md" target="_blank">Terms of Service</a></label>
        <br><br>
            
        <button type="submit" id="createQuizBtn">Create Quiz</button>
    </form>

</div>