<div id="login-view">
    <h2>Login</h2>
    
    <form id="login-form">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />
        <br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
        <br><br>
            
        <button type="submit" id="loginBtn">Login</button>
    </form>

    <br><br>
    <label for="registerPageBtn">Don't have an account?</label>
    <button id="registerPageBtn">Sign Up Page</button>
</div>
