<div id="register-view">
    <h2>Sign Up</h2>
    
    <form id="register-form">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />
        <br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
        <br><br>

        <input type="checkbox" id="termsOfService" name="termsOfService" required>
        <label for="termsOfService">I accept the <a href="../documentation/Terms_of_Service.md" target="_blank">Terms of Service</a></label>
        <br><br>
            
        <button type="submit" id="registerBtn">Sign Up</button>
    </form>

</div>
